
  @font-face {
    font-family: "Quicksand";
    src: local("Quicksand-SemiBold"), url(~/assets/fonts/Quicksand-SemiBold.ttf);
  }

  @font-face {
    font-family: "LucidaGrande";
    src: local("LucidaGrande"), url(~/assets/fonts/LucidaGrande.ttf);
  }

  @font-face {
    font-family: "Fredoka";
    src: local("Fredoka"), url(~/assets/fonts/Fredoka.ttf);
  }

  @font-face {
    font-family: "Nunito-Bold";
    src: local("Nunito-Bold"), url(~/assets/fonts/Nunito-Bold.ttf);
  }

  @font-face {
    font-family: "Nunito";
    src: local("Nunito-Medium"), url(~/assets/fonts/Nunito-Medium.ttf);
  }



